input[type=submit]{
    padding:5px 25px; 
      background:#50C878; 
      border:0 none;
      cursor:pointer;
      font-family: monospace;
      color:#FFFFFF;
      font-size: 14px;
      margin-top: 10px
  }

  input[type=reset]{
    padding:5px 25px; 
      background:#50C878; 
      border:0 none;
      cursor:pointer;
      font-family: monospace;
      color:#FFFFFF;
      font-size: 14px;
      margin-top: 10px
  }

  input[type=button]{
    padding:5px 25px; 
      background:#50C878; 
      border:0 none;
      cursor:pointer;
      font-family: monospace;
      color:#FFFFFF;
      font-size: 14px;
      margin-top: 10px
  }

  input[placeholder=email]{
    margin-left: 25px;
    margin-top: 5px
  }

  input[placeholder=username]{
    margin-top: 5px;
  }
  
  input[placeholder=password]{
    margin-top: 5px;
  }